YOUTUBE_API_KEY=
GOOGLE_GENAI_API_KEY=
SQLITE_URL=sqlite:///./youtube_analytics.db
SYNC_CHANNELS=["https://www.youtube.com/@khodorkovskylive"]
SYNC_WORKER_ENABLED=true
SYNC_INTERVAL_SECONDS=3600
SYNC_MAX_RESULTS=500
SYNC_THEME_SCAN_LIMIT=100
